.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: rgb(25, 41, 61);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body {
    background-color: #486487;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #486487
}

input[name=message] {
    width: 80%;
}

.message_list th,td {
    text-align: left;
    padding-right: 15px;
}

/* Showing_slots = (
    ("3 PM", "3 PM"),
    ("4:30 PM", "4:30 PM"),
    ("6 PM", "6 PM"),
    ("7:30 PM", "7:30 PM"),
)

Showings_films = (
    ("Spiderman","Spiderman"),
    ("Thor","Thor"),
    ("Shawshank Redemption","Shawshank Redemption"),
    ("Chronicle","Chronicle"),
    ("The Pursuit of Happyness","The Pursuit of Happyness"),
    )

class Booking(models.model):
    booking_ID = models.AutoField(primary_key=True)
    
 */
